
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.6rem;
  background-color: white;
}

nav h1 {
  font-family: 'Encode Sans Expanded', sans-serif, cursive;
  font-size: 30px;
}

@media screen and (max-width: 1440px) {
  nav h1{
    font-size: 30px; 
  }
}

@media screen and (max-width: 1024px) {
  nav h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  nav h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 425px) {
  nav h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 375px) {
  nav h1{
    font-size: 20px;
  }
}

nav .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

@media screen and (max-width: 1440px) {
  nav .sidenav{
    padding-top: 60px; 
  }
}

@media screen and (max-width: 1024px) {
  nav .sidenav {
    padding-top: 80px;
  }
}

@media screen and (max-width: 768px) {
  nav .sidenav {
    padding-top: 90px;
  }
}

@media screen and (max-width: 425px) {
  nav .sidenav {
    padding-top: 50px;
  }
}

@media screen and (max-width: 375px) {
  nav .sidenav{
    padding-top: 110px;
  }
}


nav .sidenav a {
  text-align: center;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1440px) {
  nav .sidenav a{
    font-size: 20px; 
  }
}

@media screen and (max-width: 1024px) {
  nav .sidenav a{
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  nav .sidenav a{
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  nav .sidenav a{
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  nav .sidenav a{
    font-size: 15px;
  }
}


nav .sidenav a:hover {
  color: #f1f1f1;
}

nav .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

nav span {
  position: absolute;
  left: 95%;
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  nav span {
    left: 95%;
  }
}

@media screen and (max-width: 1024px) {
  nav span {
    left: 75%
  }
}

@media screen and (max-width: 768px) {
  nav span{
    left: 90%;
  }
}

@media screen and (max-width: 425px) {
  nav span {
    font-size: 25px;
    left: 90%;
  }
}

@media screen and (max-width: 375px) {
  nav span {
    font-size: 20px;
    left: 140%;
  }
}


header {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1440px) {
  header {
    background-position: 50% 50%; 
    height: 87vh;
  }
}

@media screen and (max-width: 1024px) {
  header {
    background-position: 50% 60%;
    width: 120vh;
    height: 95vh; 
  }
}

@media screen and (max-width: 768px) {
  header {
    background-position: 60% 50%; 
    height: 110vh;
  }
}

@media screen and (max-width: 425px) {
  header {
    background-position: 60% 40%; 
    width: 80vh;
    height: 110vh;
  }
}

@media screen and (max-width: 375px) {
  header {
    background-position: 60% 40%;
    width: 120vh;
    height: 110vh; 
  }
}


header .text {
  position: absolute;
  left: 5%;
  top: 35%;
}

@media screen and (max-width: 1440px) {
  header .text {
    left: 5%;
    top: 35%;
  }
}

@media screen and (max-width: 1024px) {
  header .text  {
    left: 5%;
    top: 35%;
  }
}

@media screen and (max-width: 768px) {
  header .text  {
    left: 5%;
    top: 35%;
  }
}

@media screen and (max-width: 425px) {
  header .text {
    left: 5%;
    top: 50%;
  }
}

@media screen and (max-width: 375px) {
  header .text {
    left: 5%;
    top: 50%;
  }
}

header .text h1 {
  font-family: 'Dancing Script', cursive;
  margin-bottom: 12px;
  font-size: 7rem;
  font-weight: lighter;
}

@media screen and (max-width: 1440px) {
  header .text h1 {
    font-size: 7rem;
  }
}

@media screen and (max-width: 1024px) {
  header .text h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 768px) {
  header .text h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 425px) {
  header .text h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 375px) {
  header .text h1 {
    font-size: 2rem;
  }
}

header .text p {
  word-spacing: 4px;
  font-size: 20px;
  margin-bottom: 3em;
  font-family:  'Encode Sans Expanded', sans-serif;
}

header .text button {
  background-color: #F7D2BE;
  font-weight: bold;
  font-size: 17px;
  border: none;
  width: 150px;
  height: 40px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin-top: -20px;
  padding: 100px;
}

@media screen and (max-width: 1440px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
      padding: 100px;

    } 
  } 

@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    padding-right: 250px;
    padding-left: 80px;
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 60px;
  }
}

@media screen and (max-width: 425px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    padding-right: 250px;
    padding-left: 80px;
  }
}

@media screen and (max-width: 375px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 80px;
  }
}


.grid .cardText-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.cardText-image{
  display: block;
  .right{
   width: 100%;
   object-fit: cover;
   margin-left: 0px;
   }
}

.grid .cardText-image .right {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 0px;
}

.grid .cardText-image .left {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 0px;
}

.grid .cardText-image .text-card {
  padding: 20px;
}

.grid .cardText-image .text-card h1 {
  font-family: 'Dancing Script', cursive;
  margin-bottom: 20px;
}

.grid .cardText-image .text-card hr {
  margin-bottom: 10px;
  background-color: black;
  height: 4px;
  width: 30%;
  border: 0;
}

.grid .cardText-image .text-card p {
  font-family:  'Encode Sans Expanded', sans-serif;
  word-spacing: 2px;
  font-weight: 400;
}

.grid .cardText-image .c2 {
  color: black;
}

.advanced {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
}

.advanced .border-image .background-color img {
  position: absolute;
  margin-top: -35px;   
  padding: 150px;
}

.advanced .border-image .border {
  width: 394px;
  height: 593px;
  position: relative;
  border: 5px solid #FBD1BE;
  padding: 30px 10px 20px 50px;
}

.advanced .border-image .border img {
  width: 435px;
  height: 519px;
  margin-top: -5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.advanced .adtext {
  -webkit-transform: translate(45%, 26%);
          transform: translate(45%, 26%);
}

.advanced .adtext h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  font-weight: lighter;
  margin-bottom: 20px;
}

.advanced .adtext hr {
  margin-bottom: 50px;
  background-color: black;
  height: 4px;
  width: 20%;
  border: 0;
}

.advanced .adtext p {
  font-family:  'Encode Sans Expanded', sans-serif;
  word-spacing: 1px;
  font-weight: 400;
  margin-bottom: 40px;
}

.advanced .adtext a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: black;
}

.advanced .adtext a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FBD1BE;
  top: 100%;
}

.advanced .adtext a:hover {
  color: #c4c3c3;
}

 @media screen and (max-width: 1024px) {
  .advanced{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
   
  }
  .advanced .border-image .border {
    width: 300px;
    height: 500px;
    position: relative;
    border: 5px solid #FBD1BE;
    padding: 30px 10px 20px 50px
   }
  
   .advanced .border-image .border img {
    width: 300px;
    height: 450px;
    margin-top: -5px;
   }
   .advanced .border-image .background-color img {
    position: absolute;
    margin-top: -4px;
    padding-top: 65px;
    padding-left: 0px;
   }
   .advanced .adtext{
       transform: translate(-7%, 10%);
       padding: 50px;
   }
 }
 

@media screen and (max-width: 768px) {
 .advanced{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
 }
 .advanced .border-image .border {
  width: 300px;
  height: 500px;
  position: relative;
  border: 5px solid #FBD1BE;
  padding: 30px 10px 20px 50px
 }

 .advanced .border-image .border img {
  width: 300px;
  height: 450px;
  margin-top: -5px;
 }
 .advanced .border-image .background-color img {
  position: absolute;
  margin-top: -4px;
  padding-top: 65px;
  padding-left: 0px;
 }
  .advanced .adtext{
      transform: translate(19%, 20%);
      padding: 50px;
  }
}

@media screen and (max-width: 425px) {
  .advanced{
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   padding: 100px;
  }

  .advanced .border-image .border {
  width: 200px;
  height: 500px;
  position: relative;
  border: 5px solid #FBD1BE;
  padding: 30px 10px 20px 50px
 }

 .advanced .border-image .border img {
  width: 200px;
  height: 450px;
  margin-top: -5px;
 }
 .advanced .border-image .background-color img {
  position: absolute;
  margin-top: -4px;
  width: 500px;
  height: 700px;
  padding-top: 65px;
  padding-left: 0px;
 }

   .advanced .adtext{
       transform: translate(-10%, 26%);
       padding: 50px;
   }
 }

 @media screen and (max-width: 325px) {
  .advanced{
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   padding: 100px;
  }
   .advanced .adtext{
       transform: translate(3%, 26%);
       padding: 50px;
   }
 }


.advanceds {
  background-color: #EAE5E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  margin: 100px 0px 80px 0px;
}

.advanceds .advimg img {
  width: 750px;
  height: 450px;
}

.advanceds .adtexts {
  -webkit-transform: translate(8%, 29%);
          transform: translate(8%, 29%);
}

.advanceds .adtexts h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.4rem;
  font-weight: lighter;
  margin-bottom: 20px;
}

.advanceds .adtexts hr {
  margin-bottom: 20px;
  background-color: black;
  height: 2px;
  width: 10%;
  border: 0;
}

.advanceds .adtexts p {
  font-family:  'Encode Sans Expanded', sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 0.9rem;
}

.advanceds .adtexts a {
  position: relative;
  text-decoration: none;
  color: white;
  background-color: #111;
  padding: 5px;
  font-size: 12px;
}

.advanceds .adtexts a:hover {
  color: #c4c3c3;
  color: ;
}

@media screen and (max-width: 1024px) {
  .advanceds{
    display: grid;
    background-position: center;
    width: 850px;
    height: 850px;
    margin-top: 100px;
    grid-template-columns: repeat(1, 1fr);
}
.advanceds .advimg img{
        width: 850px;
        height: 448px;
        object-fit: cover;
    }


.advanceds .adtexts{
    padding: 5px;
    transform: translate(8%, -1%);
    }

   .adtexts h1{
        font-size: 40px;
    }
    .adtexts p{
        font-size: 14px;
    }
}        

@media screen and (max-width: 768px) {
    .advanceds{
      display: grid;
      width: 900px;
      height: 850px;
      margin-top: 100px;
      grid-template-columns: repeat(1, 1fr);
}
  .advanceds .advimg img{
          width: 900px;
          height: 448px;
          object-fit: cover;
      }


  .advanceds .adtexts{
      padding: 5px;
      transform: translate(8%, 5%);
      }
  
     .adtexts h1{
          font-size: 40px;
      }
      .adtexts p{
          font-size: 14px;
      }
}        


  @media screen and (max-width: 425px) {
    .advanceds{
      display: grid;
      width: 430px;
      height: 850px;
      margin-top: 100px;
      grid-template-columns: repeat(1, 1fr);
}
  .advanceds .advimg img{
          width: 430px;
          height: 448px;
          object-fit: cover;
      }


  .advanceds .adtexts{
      padding: 30px;
      transform: translate(0%, 3%);
      }
  
     .adtexts h1{
          font-size: 40px;
      }
      .adtexts p{
          font-size: 14px;
      }
}

@media screen and (max-width: 375px) {
  .advanceds{
    display: grid;
    width: 590px;
    height: 850px;
    margin-top: 100px;
    grid-template-columns: repeat(1, 1fr);
}
.advanceds .advimg img{
        width: 590px;
        height: 448px;
        object-fit: cover;
    }


.advanceds .adtexts{
    padding: 5px;
    transform: translate(8%, 5%);
    }

   .adtexts h1{
        font-size: 40px;
    }
    .adtexts p{
        font-size: 14px;
    }
}        


.client {

  padding-top: 5rem;
  padding-right: 5rem;
  padding-left: 5rem;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 100px;
}

.client h1 {
  font-size: 3em;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  margin-bottom: 80px;
}

.client p {
  font-family:  'Encode Sans Expanded', sans-serif;
}

.clientText-box {
  position: relative;
}

.clientText-box img  {
   position: absolute;
   opacity: 0.6;
   width: 110px;
   z-index: -1;
   top: -30%;
}

.clientText-box p {
  z-index: 10;
  line-height: 1.5;
}



.client .clientText {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.treatment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: 50% 50%;
  padding: 8rem;
}

.treatment .treimg img {
  background-position-x: 50%;
  background-position-y: 50%;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover; 
}

.treatment .treCard {    
  background-color: #111;
  color: white;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  padding: 30px;
} 

.treatment .treCard .border {
  border: 1px solid white;
  padding: 60px;
}

.treatment .treCard h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  font-weight: lighter;
  margin-bottom: 20px; 
}

.treatment .treCard hr {
  margin-bottom: 50px;
  background-color: white;
  height: 4px;
  width: 20%;
  border: 0;
}

.treatment .treCard p {
  font-family:  'Encode Sans Expanded', sans-serif;
  word-spacing: 1px;
  font-weight: 400;
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .treatment {
   margin-bottom: 130px;
   display: flex;
   height: 85vh;
   background-position: 50% 50%;
   padding: 4rem;
  }
 
   .treatment .treimg{
      width: 300px; 
      height: 80vh;
      object-fit: cover;
       
   }
   .treatment .treCard{
       padding: 17px;
       height: 57vh;
       background-color: #111;
       color: white;
   }
       .treatment .treCard .border{
           border: 1px solid rgb(255, 255, 255);
           padding: 60px;
       }
      h1{
           font-size: 20px;
       }
       p{
           font-size: 15px;
       }
 }

@media screen and (max-width: 768px) {
 .treatment {
  margin-bottom: 130px;
  display: flex;
  height: 100vh;
  background-position: 50% 50%;
  padding: 4rem;
 }

  .treatment .treimg{
     width: 300px; 
     height: 80vh;
     object-fit: cover;
      
  }
  .treatment .treCard{
      padding: 17px;
      height: 80vh;
      background-color: #111;
      color: white;
  }
      .treatment .treCard .border{
          border: 1px solid rgb(255, 255, 255);
          padding: 15px;
      }
     h1{
          font-size: 20px;
      }
      p{
          font-size: 15px;
      }
}

@media screen and (max-width: 425px) {
  .treatment {
   margin-bottom: 130px;
   display: flex;
   height: 100vh;
   background-position: 50% 50%;
   padding: 4rem;
   
  }
 
   .treatment .treimg{
      width: 200px; 
      height: 80vh;
      object-fit: cover;
       
   }
   .treatment .treCard{
       padding: 17px;
       height: 80vh;
       background-color: #111;
       color: white;
   }
       .treatment .treCard .border{
           border: 1px solid rgb(255, 255, 255);
           padding: 15px;
       }
      h1{
           font-size: 20px;
       }
       p{
           font-size: 15px;
       }
 }


.massage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 170px;
}

.massage .mestext {
  -webkit-transform: translate(-10%, 13%);
          transform: translate(-10%, 13%);
}

.massage .mestext h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  font-weight: lighter;
  margin-bottom: 20px;
}

.massage .mestext hr {
  margin-bottom: 50px;
  background-color: black;
  height: 4px;
  width: 20%;
  border: 0;
}

.massage .mestext p {
  font-family:  'Encode Sans Expanded', sans-serif;
  word-spacing: 1px;
  font-weight: 400;
  margin-bottom: 40px;
}

.massage .mestext a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: black;
}

.massage .mestext a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffdbcb;
  top: 100%;
}

.massage .mestext a:hover {
  color: #cac6c4;
}

.massage .border-image {
  position: relative;
}

.massage .border-image .background-color img{
  height: 453px;
  width: 462px;
  background-image: none;
  margin: 80px 0 0 200px;
  position: absolute;
  
}

.massage .border-image .border {
  width: 479px;
  height: 479px;
  position: relative;
  border: 4px solid #FBD1BE;
  padding: 0px 0px 30px 30px;
}

.massage .border-image .border img {
  z-index: -1;
  width: 460px;
  height: 503px;
  object-position: 80.55% 50%;
  background-position-x: 80.55%;
  background-position-y: 50%;
  margin-top: -70px;
  margin-left: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {

  .massage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-position: center;
    padding: 50px;
    margin-bottom: 100px;
  }
    .massage .mestext{
        transform: translate( -1%, 0%);
        padding: 40px;
        margin-bottom: 60px;
    }
  
  .massage .border-image .background-color img {
      height: 365px;
      width: 400px;
      background-image: none;
      margin: 80px 0 0 30px;
      position: absolute;
  }
  
  
      .massage .border-image .border {
            position:relative;
            width: 300px;
            height: 400px;
            border: 4px solid #FBD1BE;
            padding: 0px 0px 30px 10px;
        }
            .massage .border-image .border img{
                width: 300px;
                height: 400px;
                object-fit: cover;
            }
  }

@media screen and (max-width: 768px) {

.massage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-position: center;
  padding: 50px;
  margin-bottom: 100px;
}
  .massage .mestext{
      transform: translate( -1%, 0%);
      padding: 40px;
      margin-bottom: 60px;
  }

.massage .border-image .background-color img {
    height: 365px;
    width: 400px;
    background-image: none;
    margin: 80px 0 0 30px;
    position: absolute;
}


    .massage .border-image .border {
          position:relative;
          width: 300px;
          height: 400px;
          border: 4px solid #FBD1BE;
          padding: 0px 0px 30px 10px;
      }
          .massage .border-image .border img{
              width: 300px;
              height: 400px;
              object-fit: cover;
          }
}

@media screen and (max-width: 425px) {

  .massage {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-position: center;
    padding: 60px;
    margin-bottom: 100px;
  }
    .massage .mestext{
        transform: translate( -1%, 0%);
        padding: 40px;
        margin-bottom: 100px;
    }
  
  .massage .border-image .background-color img {
      height: 365px;
      width: 400px;
      background-image: none;
      margin: 80px 0 0 30px;
      position: absolute;
  }
  
  
      .massage .border-image .border {
            position:relative;
            width: 300px;
            height: 400px;
            border: 4px solid #FBD1BE;
            padding: 0px 0px 30px 10px;
        }
            .massage .border-image .border img{
                width: 300px;
                height: 400px;
                object-fit: cover;
            }
  }
  







.contact {
  background-position: 50% 50%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .form {
  background-color: #111;
  color: white;
  width: 55%;
  padding: 30px;
}

.contact .form form {
  border: 2px solid white;
  padding: 30px;
}

.contact .form h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  font-weight: lighter;
  margin-bottom: 8px;
}

.contact .form hr {
  margin-bottom: 12px;
  background-color: white;
  height: 4px;
  width: 20%;
  border: 0;
}

.contact .form p {
  margin-top: 10px;
  font-family:  'Encode Sans Expanded', sans-serif;
  word-spacing: 1px;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 14px;
}

.contact .form button {
  margin-left: 250px;
  padding: 10px;
  background-color: #F7D2BE;
  border: none;
}

.contact .form .form-contact {
  margin-bottom: 7px;
}

.contact .form .form-contact input, .contact .form .form-contact textarea {
  width: 400px;
  padding: 10px;
}

@media screen and (max-width: 1024px) {
  .contact .form{
       background-color: #111;
       background-position: center;
       color: white;
       width: 70%;
       padding: 30px;
  }
       .contact .form form{
           padding: 50px;
       }
       
    h1{
        font-size: 3rem;
    }
    hr{
         height: 2px;
    }
    p{
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        word-spacing: 1px;
        font-weight: 400;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .contact .form button{
        position: absolute;
        left: 24%;
        margin-left: 200px;
    }
    .contact .form .form-contact input, textarea{
        margin-bottom: 7px;
        width: 400px;
        padding: 10px;
        }
 }

@media screen and (max-width: 768px) {
 .contact .form{
      background-color: #111;
      background-position: center;
      color: white;
      width: 90%;
      padding: 30px;
 }
      .contact .form form{
          padding: 50px;
      }
      
   h1{
       font-size: 3rem;
   }
   hr{
        height: 2px;
   }
   p{
       margin-top: 10px;
       font-family: 'Montserrat', sans-serif;
       word-spacing: 1px;
       font-weight: 400;
       margin-bottom: 20px;
       font-size: 12px;
   }
   .contact .form button{
       position: absolute;
       left: 24%;
       margin-left: 163px;
   }
   .contact .form .form-contact input, textarea{
       margin-bottom: 7px;
       width: 400px;
       padding: 10px;
       }
}

@media screen and (max-width: 425px) {
  .contact .form{
       background-color: #111;
       background-position: center;
       color: white;
       width: 90%;
       padding: 30px;
  }
       .contact .form form{
           padding: 50px;
       }
      .contact .form h1{
        font-size: 2rem;
    }
    hr{
         height: 2px;
    }
    p{
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        word-spacing: 1px;
        font-weight: 400;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .contact .form button{
        position: absolute;
        left: 24%;
        margin-left: 75px;
    }
    .contact .form .form-contact input {
        margin-bottom: 7px;
        width: 160px;
        padding: 10px;
        }
    .contact .form .form-contact textarea {
          width: 160px;
          padding: 10px
        }
 }
 


footer {
  padding: 8rem;
  height: 30vh;
  background-color: black;
  color: white;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

footer .container .footer-text {
  margin-right: 20%;
}

footer .container .footer-text h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 8px;
}

footer .container .footer-text p {
  font-family: 'Encode Sans Expanded', sans-serif;
  word-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}

footer .logo {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  footer{
   padding: 3rem ;
   background-position: center;
   height: 50vh;
   background-color: black;
   color: white;
 }
   .footer .container{
       margin-top: 50px;
   }
 }

@media screen and (max-width: 768px) {
 footer{
  padding: 3rem ;
  background-position: center;
  height: 50vh;
  background-color: black;
  color: white;
}
  .footer .container{
      margin-top: 50px;
  }
}